<h1>List of Authors</h1>

<ul>
  <% @authors.each do |author| %>
    <li class="author">
      <a href="/authors/<%= author.id %>"><%= author.full_name %></a>
    </li>
  <% end %>
</ul>

<a href="/authors/new">Add a new Author</a>

<a href="/">Library Homepage</a>
