<h1>Add an author and some books</h1>

<form action="/authors" method="POST">
  <label for="full_name">Full Name:</label>
  <input type="text" name="full_name">

  <% 3.times do %>
    <label for="title">Title: </label>
    <input type="text" name="books[][title]">
    <label for="snippet">Snippet: </label>
    <input type="text" name="books[][snippet]">
  <% end %>

  <input type="submit" value="Add Author">
</form>
