<h1>Add a Book to the Library</h1>

<form method="POST" action="/books">
  <label for="author">Author:</label>
  <input name="author" type="text" placeholder="Author" />
  <label for="title">Title:</label>
  <input name="title" type="text" placeholder="Title" />
  <label for="snippet">Snippet: </label>
  <textarea name="snippet" cols="30" rows="10"></textarea>
  <input type="submit" value="Add Book" />
</form>

<br />

<a href="/">Homepage</a>
