img {
  height: 300px;
  width: 300px;
}

.authors img {
  width: 20px;
  height: 20px;
}

.octocat {
  display: inline-block;
  margin: 5px;
}

.octocat img {
  border: 1px solid lightgrey;
}

.image-footer {
  border-bottom: 1px solid lightgrey;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}