<h1>Add a Book to the Library</h1>

<% if @errors %>
<h3 style="color: red;">Errors to Correct</h3>
<ul>
  <% @errors.each do |message| %>
    <li class="error"><%= message %></li>
  <% end %>
</ul>
<% end %>

<form method="POST" action="/books">
  <label for="author">Author:</label>
  <select name="author_id">
    <% @authors.each do |author| %>
      <option value="<%= author.id %>"><%= author.full_name %></option>
    <% end %>
  </select>
  <label for="title">Title:</label>
  <input name="title" type="text" placeholder="Title" />
  <label for="snippet">Snippet: </label>
  <textarea name="snippet" cols="30" rows="10"></textarea>
  <input type="submit" value="Add Book" />
</form>

<br />

<a href="/">Homepage</a>
